langchain
langchain-openai
langchain-core
langgraph
langchain-text-splitters
langchain-chroma
chromadb
langsmith

fastapi[standard]
uvicorn
jinja2

psycopg[binary]
psycopg_pool
langgraph-checkpoint-postgres
sqlalchemy

langchain-tavily
tavily-python

python-dotenv

tiktoken

pypdf
docx2txt